.hero h1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.sejarah-img-small-first {
width: 100%;
height: 160px;
object-fit: cover;
}
.sejarah-img-large {
width: 100%;
height: 320px; /* ubah sesuka kamu */
object-fit: cover;
}


.sejarah-img-small {
width: 48%;
height: 160px; /* ubah sesuka kamu */
object-fit: cover;
}

.menu-sarana .menu-link {
  text-decoration: none;
  color: #6c757d; /* abu-abu Bootstrap */
  font-weight: 500;
  transition: color 0.2s ease;
}

.menu-sarana .menu-link:hover {
  color: #0d6efd; /* biru Bootstrap */
}

.menu-sarana .menu-active {
  color: #000;      /* hitam */
  font-weight: 600; 
  cursor: default;
  text-decoration: none;
}