<!-- HERO -->
<section class="hero position-relative" style="height:80vh; overflow:hidden;">
  <img src="/assets/img/profil1.jpg" alt="Hero" class="w-100 h-100 object-fit-cover">
  <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center" style="background:rgba(0,0,0,0.4);">
    <h1 class="text-white fw-bold hero-title">Sejarah Kampus</h1>
  </div>
</section>
<!-- MENU NAVIGASI -->
<div class="container mt-4">
  <nav class="d-flex gap-4 menu-sarana">
    <a routerLink="/" class="menu-link">Home</a>
    <a routerLink="/profil" class="menu-link">Profil</a>
    <span class="menu-active">Sejarah Kampus</span>
  </nav>
</div>

<!-- SEJARAH SECTION -->
<section class="container my-5">
  <div class="row mb-4">
    <div class="col-md-6">
      <ul>
        <li>
          Polinema awalnya bermula sebagai program Diploma pada Universitas Brawijaya, dengan nama
          "Politeknik Universitas Brawijaya", berdiri pada tahun 1982.
          <a href="#" class="text-primary">akuntansi.polinema.ac.id</a>
        </li>
      </ul>
      <img src="assets/img/kampus1.jpg"
      class="img-fluid rounded shadow mt-3 sejarah-img-small-first" alt="img1">
    </div>

    <div class="col-md-6 d-flex justify-content-center align-items-start mt-4 mt-md-0">
      <img src="/assets/img/Gazebo.jpg"
      class="img-fluid rounded shadow sejarah-img-large" alt="img2" style="max-height:350px; object-fit:cover;">
    </div>
  </div>

  <div class="row mt-5">
    <!-- IMAGE LEFT -->
    <div class="col-md-6 d-flex justify-content-center align-items-start">
      <img src="/assets/img/kampus2.jpg"
      class="img-fluid rounded shadow sejarah-img-large" alt="gedung">
    </div>

    <!-- TEXT RIGHT -->
    <div class="col-md-6">
      <ul>
        <li>
          Kemudian, melalui keputusan Menteri Pendidikan Nasional Nomor 147/O/2004 tanggal 22 November 2004,
          Politeknik Universitas Brawijaya resmi berubah nama menjadi Politeknik Negeri Malang (Polinema).
          <a href="#" class="text-primary">akuntansi.polinema.ac.id</a>
        </li>
      </ul>

      <div class="d-flex gap-3 mt-3">
        <img src="/assets/img/Gedung-A.jpg"
        class="img-fluid rounded shadow sejarah-img-small" alt="small1">
        <img src="/assets/img/Kantin.jpg"
        class="img-fluid rounded shadow sejarah-img-small" alt="small2">
      </div>
    </div>
  </div>
</section>

