<header class="glass-header">

  <!-- TOP BAR -->
  <div class="glass-bar topbar">
    <div class="left">
      <img src="assets/img/logo_polinema.jpeg" class="logo">
      <div>
        <h1 class="top-title">Polinema</h1>
        <p class="top-sub">PSDKU Lumajang</p>
      </div>
    </div>

    <div class="right">
      <div class="search-box">
        <input type="text" placeholder="Cari...">
        <lucide-icon [img]="Search" [size]="18" class="s-icon"></lucide-icon>
      </div>
      <button class="btn-kontak" [routerLink]="'/kontak'">Kontak</button>
    </div>
  </div>

  <!-- NAVBAR -->
  <nav class="glass-bar navbar-area sticky-nav">
    <ul class="menu">
      <li *ngFor="let item of navigation" class="menu-item">
        <a 
          [routerLink]="item.path"
          routerLinkActive="active"
          class="menu-link"
          [class.dropdown-toggle]="item.children"
          [attr.data-bs-toggle]="item.children ? 'dropdown' : null"
        >
          {{ item.name }}
        </a>

        <ul *ngIf="item.children" class="dropdown glass-dropdown">
          <li *ngFor="let sub of item.children">
            <a [routerLink]="sub.path">{{ sub.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

</header>
