<!-- HERO -->
<section class="hero position-relative" style="height:80vh; overflow:hidden;">
  <img src="/assets/img/profil1.jpg" alt="Hero" class="w-100 h-100 object-fit-cover">
  <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center" style="background:rgba(0,0,0,0.4);">
    <h1 class="text-white fw-bold hero-title">Struktur Organisasi</h1>
  </div>
</section>

<!-- MENU NAVIGASI -->
<div class="container mt-4">
  <nav class="d-flex gap-4 menu-profil">
    <a routerLink="/" class="menu-link">Home</a>
    <a routerLink="/profil" class="menu-link">Profil</a>
    <span class="menu-active">Struktur Organisasi</span>
  </nav>
</div>

<div class="bg-white p-8 rounded-lg shadow-md border mt-5">

  <!-- BANNER / IMAGE -->
  <div class="w-full mb-6">
    <img
      src="/assets/img/SO.png"
      alt="Struktur Organisasi Banner"
      class="w-[800px] h-[300px] object-cover rounded-lg shadow mx-auto"
    />
  </div>

  <!-- BANNER / IMAGE -->
  <div class="w-full mb-6">
    <img
      src="/assets/img/Pimpinan-Masa-Jabatan-2025-2029.png"
      alt="Pimpinan Banner"
      class="w-[800px] h-[300px] object-cover rounded-lg shadow mx-auto"
    />
  </div>

  </div>
