<div class="bg-white p-8 rounded-lg shadow-md border">

  <!-- BANNER / IMAGE -->
  <div class="w-full mb-6">
    <img 
      src="assets/img/strukturorganisasi-banner.jpg"
      alt="Struktur Organisasi Banner"
      class="w-full h-64 object-cover rounded-lg shadow"
    />
  </div>

  <!-- BANNER / IMAGE -->
  <div class="w-full mb-6">
    <img 
      src="assets/img/pimpinan-banner.jpg"
      alt="Pimpinan Banner"
      class="w-full h-64 object-cover rounded-lg shadow"
    />
  </div>

  </div>