<!-- HERO -->
<section class="hero relative h-[80vh]">
  <img src="https://images.unsplash.com/flagged/photo-1554473675-d0904f3cbf38?w=780" alt="Hero" class="w-full h-full object-cover">
  <div class="absolute inset-0 bg-black/40 flex items-center justify-center">
    <h1 class="text-white text-4xl md:text-6xl font-bold">Beasiswa</h1>
  </div>
</section>

<div class="max-w-4xl mx-auto mt-6 p-6">

  <!-- NAV BOX -->
  <div class="flex justify-center gap-3 mb-6">
    <a routerLink="/pmb" 
       class="px-10 py-4 rounded-xl font-bold transition 
              bg-white text-[#002D72] border border-blue-600 cursor-pointer hover:shadow-xl hover:scale-[1.01]">
      PMB
    </a>
    <a routerLink="/pmb/beasiswa" 
       class="px-10 py-4 rounded-xl font-bold transition 
              bg-[#002D72] text-white border border-blue-600">
      Beasiswa
    </a>
  </div>

  <!-- CONTENT BEASISWA -->
  <h1 class="text-2xl font-bold text-[#002D72] mb-4 mt-10">Informasi Beasiswa</h1>
  <p class="mb-4">
    Pemberian beasiswa oleh Politeknik Negeri Malang terhadap mahasiswa merupakan bagian dari bidang Kemahasiswaan (Bidang III) yang ditujukan untuk membantu kesejahteraan Mahasiswa Politeknik Negeri Malang. Sumber dana: pemerintah, yayasan sosial, dan perusahaan swasta.
  </p>

  <p class="mb-4">
    Pemberian beasiswa dilakukan setiap tahun sesuai kuota dari pemerintah, yayasan sosial, atau perusahaan swasta.
  </p>

  <h2 class="text-xl font-semibold mt-4">Jenis Beasiswa POLINEMA</h2>
  <ul class="list-disc list-inside mb-4">
    <li>Beasiswa Bidikmisi</li>
    <li>Beasiswa PPA</li>
    <li>Beasiswa Afirmasi</li>
    <li>Beasiswa Toyota Astra</li>
    <li>Beasiswa Pemerintah Daerah</li>
  </ul>

  <p class="mb-4">
    Informasi lebih lanjut hubungi sekretariat beasiswa atau melalui <a href="http://beasiswa.polinema.ac.id" target="_blank" class="text-blue-600 underline">Beasiswa Online POLINEMA</a>.
  </p>

</div>

