.hero h1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.kurikulum-image-wrapper h2 {
  font-size: 2.5rem;      /* ukuran font, bisa disesuaikan */
  color: #022B72;         /* warna biru gelap */
  font-weight: 700;       /* tebal */
  margin-bottom: 1rem;    /* jarak bawah dari gambar */
}


.kurikulum-image-wrapper img {
  width: 100%;        /* Lebar mengikuti container */
  height: 250px;      /* Tinggi tetap */
  object-fit: cover;  /* Memotong gambar supaya tidak melebar */
  border-radius: 1rem; /* Rounded sesuai sebelumnya */
}


.kurikulum-image-wrapper {
  position: relative; /* patokan tombol overlay */
}

.kurikulum-btn {
  position: absolute;
  padding: 20px 200px; /* lebih besar */
  width: 60%;
  bottom: -22px;
  right: -90px;
  top: auto;
  left: auto;
  background: #022B72;
  border: none;
  border-radius: 14px;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
}

.kurikulum-btn:hover {
  background: #001f4d; /* warna lebih gelap saat hover */
}

.kurikulum-btn .arrow {
  font-size: 20px;
}


/* Program Studi Cards */
.ps-card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 14px;
}

.ps-card:hover .ps-img {
  transform: scale(1.1);
}

.ps-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: 0.4s;
  border-radius: 14px;
}

.ps-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 18px;
  background: rgba(0,0,0,0.55);
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu Card */
.menu-card {
  background: rgba(255,255,255,0.1);
  padding: 24px;
  border-radius: 14px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.menu-card:hover {
  background: rgba(255,255,255,0.25);
}
