<div class="w-full">

  <!-- MENU 4 PRODI -->
  <div class="bg-[#002D72] text-white py-4 shadow-md sticky top-0 z-10">
    <div class="max-w-5xl mx-auto flex justify-center gap-6 flex-wrap">

      <a routerLink="ti"
         routerLinkActive="font-semibold underline underline-offset-4 text-yellow-300"
         class="hover:text-yellow-300 transition">D3 Teknologi Informasi</a>

      <a routerLink="sipil"
         routerLinkActive="font-semibold underline underline-offset-4 text-yellow-300"
         class="hover:text-yellow-300 transition">D3 Teknologi Sipil</a>

      <a routerLink="tro"
         routerLinkActive="font-semibold underline underline-offset-4 text-yellow-300"
         class="hover:text-yellow-300 transition">D4 Teknologi Rekayasa Otomotif</a>

      <a routerLink="akuntansi"
         routerLinkActive="font-semibold underline underline-offset-4 text-yellow-300"
         class="hover:text-yellow-300 transition">D3 Akuntansi</a>

    </div>
  </div>

  <!-- TEMPAT KONTEN HALAMAN PRODI -->
  <div class="max-w-5xl mx-auto px-4 py-8">
    <router-outlet></router-outlet>
  </div>
</div>
