.hero h1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.card .arrow {
  font-size: 1.5rem;
}

.carousel {
  width: 75%; /* atau sesuai kebutuhan */
  margin: 0 auto; /* center horizontal */
  height: 350px;
  overflow: hidden;
  position: relative;
}

.carousel-inner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Untuk otomatis carousel bisa pakai simple JS di component */
