<div class="container">
  <div class="card-grid">
    <mat-card
      *ngFor="let c of cards"
      class="alumni-card"
    >

      <div class="foto-wrapper">
        <img [src]="c.foto" alt="{{ c.nama }}" />
      </div>

      <mat-card-content>
        <h2>{{ c.nama }}</h2>
        <p>Angkatan: {{ c.angkatan }}</p>
        <p>Jurusan: {{ c.jurusan }}</p>

        <div class="testimoni-box">
          <p>{{ c.testimoni }}</p>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>
