<!-- HERO -->
<section class="hero relative h-[80vh]">
  <img src="https://images.unsplash.com/flagged/photo-1554473675-d0904f3cbf38?w=780" alt="Hero" class="w-full h-full object-cover">
  <div class="absolute inset-0 bg-black/40 flex items-center justify-center">
    <h1 class="text-white text-4xl md:text-6xl font-bold">Kegiatan Alumni</h1>
  </div>
</section>

<!-- MENU NAVIGASI -->
<div class="container mt-4">
  <nav class="d-flex gap-4 menu-alumni-karir">
    <a routerLink="/" class="menu-link">Home</a>
    <a routerLink="/alumni-karir" class="menu-link">Alumni & Karir</a>
    <a routerLink="/alumni-karir/kegiatan-alumni" class="menu-link">Kegiatan Alumni</a>
    <span class="menu-active">Detail Kegiatan</span>
  </nav>
</div>

<div class="max-w-3xl mx-auto border border-gray-300 rounded-xl p-4 bg-white shadow-sm mt-5">
  
  <!-- Judul -->
  <h2 class="text-xl font-bold text-center mb-3">
        Alumni Sharing Session.
  </h2>

  <!-- Tanggal & Lokasi -->
  <div class="text-sm text-gray-600 mb-4">
    <p><span class="font-semibold">Tanggal:</span> 12 Januari 2025</p>
    <p><span class="font-semibold">Lokasi:</span> Aula Kampus</p>
  </div>

  <!-- Gambar Besar -->
  <div class="w-full h-96 bg-gray-200 rounded-lg overflow-hidden">
    <img 
      src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?w=800"
      alt="Kegiatan Alumni"
      class="w-full h-full object-cover"
    >
  </div>

</div>
