<!-- HERO -->
<section class="hero relative h-[80vh]">
  <img src="/assets/img/kampus2.jpg" alt="Hero" class="w-full h-full object-cover">
  <div class="absolute inset-0 bg-black/40 flex items-center justify-center">
    <h1 class="text-white text-4xl md:text-6xl font-bold">Kurikulum</h1>
  </div>
</section>

<!-- MENU NAVIGASI -->
<div class="container mt-4">
  <nav class="d-flex gap-4 menu-akademik">
    <a routerLink="/" class="menu-link">Home</a>
    <a routerLink="/akademik" class="menu-link">Akademik</a>
    <span class="menu-active">Kurikulum</span>
  </nav>
</div>


<div class="bg-white p-8 rounded-lg shadow-md border mt-5">

  <!-- TITLE -->
  <h1 class="text-3xl font-bold mb-4 text-gray-800">
    Kurikulum
  </h1>

  <!-- DESCRIPTION -->
  <p class="text-gray-700 leading-relaxed mb-6">
    Sistem Akademik memberikan berbagai layanan informasi terkait program pendidikan,
    kurikulum, dan penyelenggaraan kegiatan belajar mengajar.
    Anda dapat mengakses berbagai data penting mengenai Prodi, Kurikulum,
    Dosen, Mahasiswa Aktif, serta Jadwal Perkuliahan melalui menu yang tersedia
    di sidebar.
  </p>
  </div>
