<!-- HERO -->
<section class="hero relative h-[80vh]">
  <img
    src="https://images.unsplash.com/flagged/photo-1554473675-d0904f3cbf38?w=780"
    alt="Hero"
    class="w-full h-full object-cover"
  />
  <div class="absolute inset-0 bg-black/40 flex items-center justify-center">
    <h1 class="text-white text-4xl md:text-6xl font-bold text-center">
      Organisasi Mahasiswa dan UKM
    </h1>
  </div>
</section>

<!-- MENU NAVIGASI -->
<div class="container mx-auto px-6 mt-4">
  <nav class="flex gap-4 menu-akademik">
    <a routerLink="/" class="menu-link">Home</a>
    <a routerLink="/aktivitas" class="menu-link">Kehidupan Kampus</a>
    <a routerLink="/aktivitas/ormawa-ukm" class="menu-link">Organisasi Mahasiswa dan UKM</a>
    <span class="menu-active">HMTRO</span>
  </nav>
</div>